.footerParentDiv{
    align-self: flex-end;
    width: 100vw;
    background-color: white;
    border-top: 0.5px solid primary;
    background-color: primary;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.content{
    height: 70px;
    display: flex;
    background-color: #012b72;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
    justify-content: space-between;
}
.footerParentDiv .content  p{
    color: #fff;
}
.footerParentDiv .content  a{
    color: #fff;
    padding: 5px;
    text-decoration: none;
}